.list-group-item {
  margin-bottom: 10px;
  border-radius: 5px;
}

.text-decoration-line-through {
  text-decoration: line-through;
  color: #6c757d;
}

.empty-state {
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 20px;
}
