  <div class="card mb-3 position-relative h-100 ">
    <span class="badge position-absolute m-2" [ngClass]="getStockBadgeClass()">
      {{ getStockStatus() }}
    </span>
  <img [src]="cardItem.thumbnail" class="card-img-top" alt="{{ cardItem.title }}" />
  <div class="card-body">
      <h5 class="card-title ">{{ cardItem.title }}</h5>
    <p class="card-text">
      <strong>Price: </strong> {{ cardItem.price | currency: 'EGP' }}
    </p>
    <div class="text-warning">
      @for (star of [1, 2, 3, 4, 5]; track star) {
        <span
          [ngClass]="{
            'filled': star <= roundRating(cardItem.rating),
            'empty': star > roundRating(cardItem.rating)
          }"
        >
          {{ star <= roundRating(cardItem.rating) ? '★' : '☆' }}
        </span>
      }
    </div>
    <button class="btn btn-outline-success rounded-5 my-2 w-100" [disabled]="cardItem.stock === 0">
      Add to Cart
    </button><br/>
    <button (click)="handleRedirectToDetails(cardItem.id)" class="btn btn-outline-danger rounded-5 w-100">
      View More Details
    </button>
  </div>
</div>
